SSH_HOST=localhost
SSH_PORT=22
SSH_USERNAME=NetLink
SSH_PASSWORD=NetLink123
SSL_KEY_PATH=key.pem
SSL_CERT_PATH=cert.pem

# Relay Server Configuration
RELAY_TOKEN=your_jwt_token_here
RELAY_HOST=localhost
RELAY_PORT=4536
RELAY_SSL=true
REJECT_UNAUTHORIZED=false